.row
  .span12
    .row
      .span4.offset4
        = form_for @ballot do |f|
          = render "shared/form_errors", :object => @ballot
          %h2
            Question
          %p
            %input{:name => "ballot[question]",:autocomplete => :off,:class => "question-field"}
          %h2 Options    
          .row
            - 3.times do 
              %li.option-add
                %input{:name => "ballot[options_attributes][][name]",:autocomplete => :off}
                .option-add-btn
                  .cross
            #reveal-options
              %a Add rows
            #more-options
              - 3.times do 
                %li.option-add
                %input{:name => "ballot[options_attributes][][name]",:autocomplete => :off}                
                  .option-add-btn
                    .cross
          -# %h2
          -#   Time Limit
          -#   = f.select(:expire,[10,20,30,40,50,60])
          = f.submit 'Start Voting'

= javascript_include_tag :application  
