.option{:id => "{{ uuid }}"}
  .name
    {{ name }}
  .votes
    {{ voters }}
  .full_bar
    .bar{:style => "width: {{ fraction }}%; background: {{ color }};"}
      &nbsp;
  .radio
    %input{:id => "vote_option_{{uuid}}",:name =>"vote[option_uuid]",:type =>"radio",:value =>"{{uuid}}"}
