%li.search_result{:id => "{{uuid}}"}
  .name
    {{name}}
  .address
    {{address}} {{address_extended}}
  .locality
    {{locality}}, {{region}}
  .coordinates
    .latitude
      {{latitude}}
    .longitude
      {{longitude}} 
  .telephone
    {{tel}} 
  .category
    {{category}}
