= form_for @meal do
  .location
    %p.choice
      = label :meal,:location, @location
    %p.input
      = text_field :meal, :location, :id => :location_autocomplete
    %a{:class => "change_location",:href => "#"} change          
  
  = submit_tag 'Start Voting'
