/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#countdown {
  color: gray;
  font: 28px/30px serif;
  padding: 15px;
}

.question-field {
 width: 600px;
 padding: 10px;
 font: 28px/30px helvetica,arial,serif;
}

.outline {
  border: 1px solid #CCC;
}

.question {
  padding: 20px 0px 20px 20px;
  font: 35px/40px helvetica,arial,serif;
  color: gray;
}

.option {
  display: block;
  position: relative;
  border: 1px solid #CCC;
  border-width: 0;  
  border-top-width: 1px;
  padding: 5px;
  cursor: pointer;
}

.option-add {
  display: block;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.option .option-inner .content {
  border-radius: 7px;
  padding: 8px;
}

.option .option-inner {
  width: 80%;
}

.option .option-inner:hover {
  background: #f0eee5;
}

.option .name {
  font: 22px/24px serif;
}

.option .votes {
  font: 11px/19px sans-serif;
}

.option .full_bar {
  background: #fffdf4; /* same color as main/body background */
}

#option-template  {
   display: none;
}

.right {
  float: right;
}
.left {
  float: left;
}

/* RAILS FLASH ERROR STYLING */

.flash_error {
  background-color:#ffcccc;
  border:1px solid red;
  vertical-align:top;
  padding: 10px;
}
 
.flash_error h2 {
  color: maroon;
}
 
.flash_error ul li {
  list-style: square;
}
 
.flash_notice {
    border: 1px solid green;
    background-color: #ccffcc;
}

