/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


.option {
  border-radius: 7px;
  padding: 8px;
  margin: 2px;
  cursor: pointer;
}

.option:hover {
  background: #f0eee5;
}

.option .name {
  font: 22px/24px serif;
}

.option .votes {
  font: 11px/19px sans-serif;
}

.option .full_bar {
  background: #fffdf4; /* same color as main/body background */
}

.bar .selected .option {
  background: #ddd;
  height: 10px;
}

#option-template {
   display: none;
}

.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
}
