/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.option {
  display: block;
  position: relative;
  border: 1px solid #CCC;
  border-width: 0;  
  border-top-width: 1px;
  padding: 0;
  cursor: pointer;  
}

ul#option-bars {
  width: 100%;
}

.option .option-inner .content {
  border-radius: 7px;
  padding: 8px;
}

.option .option-inner {
  width: 80%;
}

.option .option-details-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
}

.option .option-details-btn .arrow-r {
  background: #CCC;  
  background-image: url(http://code.jquery.com/mobile/1.0rc2/images/icons-18-white.png);
  background-position: -108px 50%;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  moz-border-radius: 9px;
  webkit-border-radius: 9px;
  position: absolute;
  margin-top: 35%;
  margin-left: 50%;
}

.option .option-inner:hover {
  background: #f0eee5;
}

.option .option-details-btn:hover {
  background: #f0eee5;
}

.option .name {
  font: 22px/24px serif;
}

.option .votes {
  font: 11px/19px sans-serif;
}

.option .full_bar {
  background: #fffdf4; /* same color as main/body background */
}

#option-template  {
   display: none;
}

.ballot-options:before, .ballot-options:after {
  display: table;
  content: "";
}
.ballot-options:after {
  clear: both;
}

.right {
  float: right;
}
.left {
  float: left;
}

.ballot-options {
  width: 300px;
  float: left;
}

.ballot-options > [class*="span"] {
  display: inline;
}

#search-row-template {
   display: none;   
}

.search_result .coordinates {
   display: none;   
}

.search {
 float: left;  
}

.selected {
  background: #ddd;
}

#detail {
  float: left;
  list-style: none;
}

#holder {
  float: right;
/*left: 50%;
  margin: -240px 0 0 -320px;
  position: absolute;*/
}
